.menu {
  /* add correct code to place the menu correctly.*/

  background-color:rgb(34, 0, 255);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: white;
}

body {
  background-color: whitesmoke;
}
.grid {
  /* add correct code to place the grid elements 
  one beside the other equally.   */

  flex-wrap: wrap;
  font-family: sans-serif;
}

.grid img {
  border: 2px solid black;
  border-radius: 50px;
}
.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}
h3{
  font-family: cursive;
  color: brown;
  
}
